/* removes up down arrows in input boxes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section{
  padding: 2rem 6%; 
}

.contact-home{
  padding: 4rem;
  background: url(../../assets/Images/pricingBackground.jpeg);
}

.contact-content{
  padding-top: 8rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 4rem;
  flex: 1 1 50rem;
}

.contact-content>#contentP1{
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.contact-content>#contentP2{
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

/* about inputs starts here */

.contact-inputs-container{
  display: flex;
  justify-content: center;
}

.contact-inputs{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: -4rem;
  background: white;
  border-radius: .3rem;
  width: 900px;
  border: 1px solid rgba(25, 181, 254,.2);
  box-shadow: 0 .5rem 1rem rgba(25, 181, 254,.2);
  /* transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12); */
}

/* .contact-inputs:hover{
  transform: scale(1.05);
} */

.contact-inputs>.inputs input:hover{
  transform: scale(1.05);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.2);

}


.contact-inputs>.inputs input{
  /* width: 860px; */
  width: 700px;
  height: 50px;
  padding: 1rem;
  margin-bottom: 20px;
  border: 1px solid rgba(83, 139, 165, 0.2);
  border-radius: .3rem;
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.inputs .btn{
  display: flex;
  justify-content: center;
}

.btn button{
  width: 300px;
  padding: .5rem;
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: .3rem;
  background: rgb(14, 51, 216);
  box-shadow: 0 .5rem 1rem rgba(25, 181, 254,.2);
  color: white;
}

.btn button:hover{
  background: rgb(1, 1, 65);
}

#p1{
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  font-size: 34px;
  font-weight: 800;
  padding-bottom:0;
  margin-bottom: 0;
  color: #200c6e;
}

#p2{
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  padding-top:0;
  color: #200c6e;
}