body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: url(../../assets/Images/profileBackground.svg) no-repeat center;
}

section {
  margin-top: 0;
  padding: 2rem 15%;
}

.user-data{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile .dp{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 3rem;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.profile .dp:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.dp img{
  height: 100%;
  width: 100%;
}
.text{
  display: block;
  justify-content: start;
}

.text #userId{
  font-size: 26px;
  font-weight: 600;
  color: #200c6e;
  margin-bottom: 0;
}
.text #memberSince{
  margin: 0;
  font-size: 16px;
}

.logout-btn{
  margin-left: 375px;
}

.logout-btn button{
  background: white;
  padding: 4px;
  width: 100px;
  border: 2px solid rgba(236,91,110,1);
  color: rgba(236,91,110,1);
  font-weight: 500;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
  border-radius: .3rem;
}

.logout-btn button:hover{
  background: rgba(236,91,110,1);
  color: white;
}

/* profile and activity */
.profile-and-activity{
  margin-top: 4px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0,0,0,.5);
}

.profile-and-activity button{
  border: none;
  background: white;
  padding: 1rem 1rem;
  font-size: 16px;
  font-weight: 500;
} 

.content{
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.1);
  align-items: center;
}

/* transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
.content:hover{
  transform: scale(1.05);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  cursor: pointer;
  border-radius: .3rem;
} */

.content #p1{
  font-size: 17px;
  font-weight: 600;
}

.content button{
  background: white;
  border: 2px solid rgba(25, 181, 254, 1 );
  color: rgba(25, 181, 254, 1 );
  font-weight: 500;
  border-radius: .3rem;
  /* border: 2px solid rgba(33,100,227,1); */
  /* color: rgba(33,100,227,1); */
  padding: 4px;
  width: 100px;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
}

#view{
  background: white;
  border: 2px solid rgb(78, 206, 4);
  color: rgb(78, 206, 4);
  font-weight: 500;
  border-radius: .3rem;
  padding: 4px;
  width: 100px;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
}
.content button:hover{
  background: rgba(25, 181, 254, 1 );
  /* background: rgba(33,100,227,1); */
  color: white;
}

#view:hover{
  background: rgb(78, 206, 4);
  color: white;
}


/* Footer starts here */


footer{
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  
}

.logo h3{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
nav{
  margin-left: 500px;
}

.nav_links{
  list-style: none;
  align-items: center;
}

.nav_links ul{
  align-items: center;
}

.nav_links li{
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 500;
  color: white; 
  cursor: pointer;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.nav_links li:hover{
  transform: scale(1.5);
}


