<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- navbar starts here -->
    <app-navigation></app-navigation>
    <!-- navbar ends here -->
    
    <!-- profile section starts here -->
    <section class="profile">
      <div class="user-data">
        <div class="dp">
          <img src="../../assets/Images/userDP.png" alt="">
        </div>
        <div class="userName">
          <div class="text">
            <p id="userId">{{userEmail}}</p>
            <p id="memberSince">Member since 26/11/2021</p>
          </div>
        </div>
      </div>
      <br>
      <div class="profile-and-activity">
        <div class="profile-btn">
          <button>Profile</button>
        </div>
      </div>

      <div class="content-container">
        <div class="content">
          <p id="p1">Name</p>
          <p *ngIf = "bEditName == false" id="p2">{{userName}}</p>
          <button *ngIf = "bEditName == false" (click)="editName()">Edit</button>
          <!-- this is the input and save option after edit -->
          <input [(ngModel)]="userName" *ngIf = "bEditName == true" type="text" placeholder="UserName" style="width: 250px;">
          <button *ngIf = "bEditName == true" (click)="saveName()">Save</button>
        </div>

        <div class="content">
          <p id="p1">Email Id</p>
          <p *ngIf = "bEditEmail == false" id="p2">{{userEmail}}</p>
          <button *ngIf = "bEditEmail == false" (click)="editEmail()">Edit</button>
          <!-- this is the input and save option after edit -->
          <input  [(ngModel)]="userEmail" *ngIf = "bEditEmail == true"  type="text" placeholder="Email" style="width: 250px;">
          <button *ngIf = "bEditEmail == true" (click)="saveEmail()">Save</button>
        </div>

        <div class="content">
          <p id="p1">Password</p>
          <p *ngIf = "bEditPassword == false" id="p2">{{userPassword}}</p>
          <button *ngIf = "bEditPassword == false" (click)="editPassword()">Edit</button>
          <!-- this is the input and save option after edit -->
          <input  [(ngModel)]="userPassword" *ngIf = "bEditPassword == true"  type="text" placeholder="New Password" style="width: 250px;">
          <button *ngIf = "bEditPassword == true" (click)="savePassword()">Save</button>
        </div>

        <div class="content">
          <p id="p1">Orders</p>
          <p id="p2"></p>
          <button (click)="viewOrders()">View</button>
        </div>
      </div>
      <br><br><br>
    </section>
    <!-- profile section ends here -->
  </body>
</html>
