<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="login-container">

      <!-- leftside Heading starts here -->
      <div class="content">
        <div class="logo">
          <h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="white" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16" style="cursor: pointer;">
              <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
            </svg>
            POLICY CLOUD
          </h3>
        </div>
        <br><br><br><br><br><br>
        <p id="loginP1">Cloud hosting developers love</p>
        <p id="loginP2">Spin up Droplet cloud servers with industry leading price-performance and predictable costs.</p><br>
        <p id="loginP2">Try PolicyCloud free for 60 days.</p>
        <br><br><br><br><br><br><br><br>
      </div>
      <!-- left side Heading ends here -->

      <!-- Login box starts here -->
      <div class="login">

        <!-- login heading starts here -->
        <div class="heading">
          <p>Start your free trial with a ₹7400 credit for 60 days</p>
        </div>
        <!-- login heading starts here -->

        <div class="input-container">
          <!-- login input boxes and button starts here -->
          <div class="input">
            <div class="register-btn-logo">
              <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" class="bi bi-github" viewBox="0 0 18 18" aria-hidden="true">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </div>
            <input id="emailInput"  [(ngModel)]="inputEmail" type="text" placeholder="Email Address"><br>
            <input id="pwdInput"  [(ngModel)]="inputPassword" type="password" placeholder="Password"><br>
            <button (click)="registerUser()">
              Register Account
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
              </svg> 
            </button>

            <div class="bottomP">
              <p>₹7400, 60-day free trial requires valid credit card.By signing up, you agree to the Terms of Service.</p>
            </div>

          </div>
        </div>
      </div> 
    </div>

  </body>
</html>
